body {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  background: url(img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 5rem;
  background-color: #fff;
}

.header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: space-around;
  background-color: #fff;
  padding-top: 4%;
  height: 6vh;
}

.nav-cmp {
  display: none;
}

.mylogo {
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  flex: 1;
  padding-left: 5%;
  text-decoration: none;
}

nav {
  align-self: center;
  padding-right: 5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20%;
}

.welcome {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  display: flex;
  margin-left: 6%;
}

#title-break {
  display: none;
}

.about-me {
  margin-left: 6%;
  margin-right: 10%;
  padding-right: 20px;
  color: #344563;
}

p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  margin: 0%;
}

.connect {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  width: 100%;
  margin-left: 6%;
}

.social-ic {
  list-style-type: none;
  width: 55%;
  display: flex;
  margin-left: 6%;
  padding: 0%;
  align-content: start;
  align-items: center;
}

li {
  flex: 1;
}

.dflex {
  display: flex;
  text-decoration: none;
}

i {
  color: #6070ff;
}

.grid {
  width: 100%;
  padding: 0%;
  background: #e5e5e5;
  display: grid;
  margin-top: 15%;
  place-self: center;
  justify-items: center;
}

.card-work {
  width: 74%;
  padding: 5%;
  background-color: #fff;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
}

.work-details {
  display: flex;
  flex-direction: column;
}

.work-name {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  align-self: start;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.work-description {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: baseline;
}

.work-subtitle {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  padding-right: 3%;
}

.work-role {
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  padding-right: 3%;
}

.grey-circle {
  color: #c1c7d0;
  font-size: 10px;
  padding-right: 3%;
}

.coding-lng {
  background-color: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 0.03em;
  text-align: center;
  justify-content: center;
  margin-right: 4%;
}

.coding-group {
  margin-top: 5%;
  list-style-type: none;
  width: 80%;
  display: flex;
  flex-direction: row;
  padding: 0%;
  height: 24px;
  margin-bottom: 7%;
}

h4 {
  margin: 0%;
  margin-top: 3%;
  font-weight: 500;
  font-size: 12px;
}

.project-btn {
  display: inline-flex;
  text-decoration: none;
  border: 1.5px solid #396df2;
  width: 35%;
  border-radius: 7px;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  margin-bottom: 3%;
  flex-wrap: wrap;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  padding: 0%;
}

.about-myself-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5rem;
  background-color: #fff;
}

.about-myself {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10%;
  padding-left: 6%;
}

.about-myskills {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 6%;
}

.myself-title {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.myself-description {
  display: flex;
  margin-right: 6%;
  color: #344563;
}

.self-connect {
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  width: 100%;
  margin-bottom: 2%;
}

.social-ic-self {
  list-style-type: none;
  width: 55%;
  display: flex;
  padding: 0%;
  padding-left: 2%;
  align-content: start;
  align-items: center;
  margin-bottom: 8%;
}

.lng {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  max-width: 100%;
  margin-top: 7%;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 2%;
  margin-bottom: 10%;
}

#menu-btn {
  color: #acb7c3;
  display: flex;
  padding-right: 20%;
}

.skills-section {
  background-color: #f7f7f9;
  border-radius: 10px;
  margin-right: 13%;
  margin-left: 1%;
  display: flex;
  margin-bottom: 4%;
  list-style-type: none;
}

.skill {
  color: #253858;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  align-self: center;
}

.elip-img {
  display: flex;
  padding-left: 4%;
  padding-right: 4%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.frm {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  max-width: 100%;
  border-bottom: 0.3px solid #dfe1e6;
  margin-right: 11%;
  padding-bottom: 5%;
  padding-left: 4%;
  justify-content: space-between;
  align-items: baseline;
}

.skl {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  max-width: 100%;
  border-bottom: 0.3px solid #dfe1e6;
  margin-right: 11%;
  padding-bottom: 5%;
  padding-left: 4%;
  justify-content: space-between;
  align-items: baseline;
}

#frm-btn {
  color: #acb7c3;
  display: flex;
  padding-right: 9%;
}

#skl-btn {
  color: #acb7c3;
  display: flex;
  padding-right: 9%;
}

.skills-list {
  padding: 0%;
  margin: 0%;
  margin-bottom: 13%;
}

.i-btn:hover {
  border-radius: 0.3rem;
  background-color: #ebebff;
}

.contact-section {
  background-color: #6070ff;
  background-image: url("img/contact-form-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 100vh;
  flex-direction: column;
  padding: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 120px;
}

.contact-section h1 {
  color: white;
  font-family: "Poppins", sans-serif;
}

#contact-title {
  font-size: 40px;
  padding-top: 40px;
}

form input,
textarea {
  border-radius: 8px;
  border: 0;
  padding: 13px;
  width: 96%;
  font-family: "Poppins", sans-serif;
}

form input::placeholder {
  color: #172b4d;
}

form > * {
  display: block;
  margin-bottom: 15px;
}

#contact-dt {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
}

.contact-section button {
  padding: 12px;
  border-radius: 8px;
  border: 0;
  color: #6070ff;
  font-size: 17px;
  width: 29vw;
}

#contact-container {
  background-color: white;
  padding-top: 50px;
}

form textarea {
  height: 17vh;
}

.contact-section p {
  color: white;
}

.mobile-menu {
  background: rgba(0, 0, 255, 0.55);
  backdrop-filter: blur(10px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.d-none {
  display: none;
}

.menu-header {
  display: flex;
  margin-top: 33px;
}

.menu-header > i {
  margin-left: auto;
  margin-right: 20px;
}

#cancel-icon {
  color: white;
  font-size: 20px;
}

#options-list {
  text-decoration: none;
  list-style: none;
  margin-top: 32px;
}

#options-list > li > a {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
}

#options-list > li {
  margin-bottom: 40px;
}

/* Popup Window Project Details */

.popup-details {
  background: rgba(167, 173, 181, 0.6);
  backdrop-filter: blur(2px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.popup-container {
  margin: 10% 16px;
  height: 85%;
  border-radius: 0.8rem;
  background-color: #fff;
}

#popup-cancel-icon {
  color: #67798E;
}

.popup-header {
  align-items: baseline;
}

.popup-title {
  margin: 0px;
  margin-right: auto;
}

#popup-cancel-icon {
  margin-right: 20px;
}

@media only screen and (min-width: 1100px) {
  .header {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 6%;
    width: auto;
  }

  #hamb-icon {
    display: none;
  }

  .nav-cmp {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    width: 30%;
    padding-left: 7%;
    margin-right: 9%;
    transition-property: color;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background: url(img/big-screen-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    height: 105vh;
    border-bottom-left-radius: 13rem;
  }

  .container {
    margin-left: 10%;
    flex-wrap: wrap;
    margin-top: 17%;
  }

  .container h1 {
    font-size: 48px;
    line-height: 60px;
    align-items: center;
    letter-spacing: 0.37px;
    margin-top: 0%;
    margin-bottom: 2%;
  }

  .container #title-break {
    display: flex;
  }

  .container .about-me {
    margin-right: 25%;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 2%;
  }

  .social-ic {
    margin-bottom: 10%;
    width: 15%;
  }

  .card-work {
    margin-bottom: 10%;
  }

  .normal {
    display: flex;
    flex-direction: row;
    padding: 30px;
  }

  .reverse {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
  }

  .reverse .work-details {
    display: flex;
    margin-right: 60px;
  }

  .card-work img {
    height: 55vh;
    display: flex;
  }

  .card-work img:hover {
    transform: scale(1.06, 1.06);
  }

  .normal .work-details {
    display: flex;
    margin-left: 60px;
  }

  .work-details a {
    font-size: 17px;
    width: 35%;
    margin-top: 30px;
    padding: 10px;
  }

  .work-details a:hover {
    background-color: #4053fc;
    color: white;
  }

  .nav-itm {
    user-select: none;
    color: #344563;
    text-decoration: none;
  }

  .nav-itm:hover {
    text-decoration: underline;
  }

  .nav-cmp a:hover {
    color: #6070ff;
  }

  .work-details h1 {
    margin-top: 30px;
    font-size: 45px;
  }

  .work-details .work-subtitle {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .work-details .work-role {
    font-size: 18px;
  }

  .work-details p {
    margin-bottom: 25px;
  }

  .about-myself-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-top-right-radius: 13rem;
    background-color: #fff;
    padding-bottom: 100px;
  }

  .about-myself {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding-left: 6%;
  }

  .about-myself ul {
    width: 33%;
  }

  .about-myskills {
    padding: 0%;
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .about-myskills h2 {
    color: #344563;
  }

  .about-myskills ul {
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-bottom: 3%;
  }

  .about-myskills li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 10vw;
    margin-right: 15px;
  }

  .elip-img {
    width: 60px;
  }

  .skills-list h3 {
    align-self: start;
    padding-left: 10px;
  }

  .about-myself a:hover {
    background-color: #4053fc;
    color: white;
  }

  .contact-section {
    background-color: #6070ff;
    background-image: url("img/big-screen-contact.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 80vh;
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 120px;
    display: flex;
    padding-top: 4%;
  }

  .contact-section form {
    justify-self: center;
    width: 50%;
  }

  .contact-section #contact-dt {
    display: flex;
    width: 55%;
  }

  .contact-section input {
    border-radius: 2px;
    margin-bottom: 6%;
    height: 8%;
  }

  .contact-section input::placeholder {
    font-size: 17px;
    line-height: 20px;
  }

  textarea {
    border-radius: 2px;
    margin-bottom: 6%;
  }

  textarea::placeholder {
    font-size: 15px;
  }

  .contact-section button {
    width: 30%;
    height: 6vh;
    border-radius: 8px;
    margin-left: 38%;
    text-align: center;
  }

  .contact-section button:hover {
    border: 0.1px solid black;
  }

  .coding-lng:hover {
    transform: translate(5px);
  }

  #contact-dt:hover {
    transform: translate(20px);
  }
}
